---
import Tag from "./Tag.astro";

---

<div class="collapse collapse-arrow bg-amber-500">
  <input type="radio" name="my-accordion"/>
  <div class="collapse-title text-xl font-black text-left flex flex-col items-center text-slate-800 gap-1">
    CONTINOUS DEPLOYMENT
    <div class="flex gap-x-2 flex-wrap gap-y-2  justify-center">
      <Tag color="bg-green-800">github</Tag>
      <Tag color="bg-gray-500">webhook</Tag>
      <Tag color="bg-sky-600">docker-compose</Tag>
      <Tag color="bg-yellow-800">jenkins</Tag>
    </div>
  </div>
  <div class="collapse-content flex flex-col gap-3 text-slate-800 text-left font-semibold text-base md:text-xl p-4 md:px-14">
    <img class="rounded-xl" src="/images/continous-deployment-schema.jpg"/>
    <ol class="flex flex-col gap-4">
      <li>1. A developer push code to production branch inside github.</li>
      <li>2. Github inform jenkins, throught a webhook, that code base have been updated.</li>
      <li>3. Jenkins dowload the repository that have just been updated.</li>
      <li>4. Jenkins run app's Jenkinsfile.</li>
      <li>5. Jenkins build and push the dockerized app to docker hub.</li>
      <li>6. Nginx pull and restart the container of the app that was just updated</li>
    </ol>
  </div>
</div>