---
import Tag from "./Tag.astro";

---

<div class="collapse collapse-arrow bg-amber-500">
  <input type="radio" name="my-accordion"/>
  <div class="collapse-title text-xl font-black text-left flex flex-col items-center text-slate-800 gap-1">
    FRONTEND
    <div class="flex gap-x-2 flex-wrap gap-y-2  justify-center">
      <Tag color="bg-blue-700">react</Tag>
      <Tag color="bg-purple-800">redux</Tag>
      <Tag color="bg-sky-900">tailwindCSS</Tag>
      <Tag color="bg-pink-500">styled-components</Tag>
      <Tag color="bg-rose-300">react-router</Tag>
      <Tag color="bg-blue-900">material UI</Tag>
    </div>
  </div>
  <div class="collapse-content  flex flex-col gap-3 mt-1 text-slate-800 md:px-14">
    <p>DESARROLLAR</p>
  </div>
</div>