---
import Tag from "./Tag.astro";

---

<div class="collapse collapse-arrow bg-amber-500">
  <input type="radio" name="my-accordion"/>
  <div class="collapse-title text-xl font-black text-left flex flex-col items-center text-slate-800 gap-1">
    INFRASTRUCTURE
    <div class="flex gap-x-2 flex-wrap gap-y-2  justify-center">
      <Tag color="bg-green-800">nginx</Tag>
      <Tag color="bg-gray-500">microservices</Tag>
    </div>
  </div>
  <div class="collapse-content  flex flex-col gap-3 mt-1 text-slate-800 md:px-14">
    <img class="rounded-xl" src="/images/infrastructure-schema.jpg"/>
    <p class="mb-6">In order for the entire system to work, various artifacts are required, some of them working within our domain and others delegated to third parties.</p>

    <h2 class="text-2xl font-bold mb-4">Outside Our System</h2>
    <ul class="text-left  list-disc pl-6 mb-6">
      <li>Github as the code repository for working from anywhere.</li>
      <li>Dockerhub as the container repository for storing microservices as containers.</li>
      <li>AWS S3 as the file system for our microservices.</li>
      <li>AWS RDS as the relational database for our microservices.</li>
      <li>Rabbitmq as a messaging queue for our microservices.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">Inside Our System</h2>
    <p class="mb-6">Inside our domain, we run all components within an Nginx server. These components include:</p>
    <ul class="text-left list-disc pl-6 mb-6">
      <li>Jenkins container to update and test current apps when new code is pushed to GitHub repositories.</li>
      <li>Docker-compose to run all the required apps simultaneously.</li>
      <li>Spring Boot applications for backend microservices.</li>
      <li>React applications for front-end applications.</li>
    </ul>

    <h2 class="text-2xl font-bold mb-4">Why not a full distributed infrastructure?</h2>
    <p class="mb-6">The main reasons for not transitioning to a fully distributed architecture include:</p>
    <ul class="text-left list-disc pl-6 mb-6">
      <li>Complexity: Implementing and managing a distributed infrastructure requires a higher level of complexity compared to a centralized infrastructure. This complexity can add overhead to the development and maintenance processes.</li>
      <li>Cost: Distributed infrastructures typically involve additional hardware, networking, and maintenance costs. Acquiring and managing multiple servers can be more expensive than a single centralized server.</li>
    </ul>
  </div>
</div>