---
import Profile from "./Profile.astro";
import TopDecoration from "./TopDecoration.astro";
import SkillShower from "./SkillShower.astro";
import Languajes from "./Languajes.astro";
import Experiences from "./Experiences.astro";


---
<section id="about" class="flex place-items-center place-content-center bg-slate-900 relative w-screen">
  <TopDecoration to="#about" color="bg-slate-900" arrowColor="fill-amber-500" />
  <article id="about" class="flex flex-col place-items-center place-content-start w-full max-w-6xl px-4 py-16 pb-60 gap-16 md:flex-row  drop-shadow min-h-[1450px] md:min-h-screen">
    <img class="drop-shadow-2xl h-96 sm:self-start sm:h-96 lg:h-auto" src="./images/AlbertoMoran.png" alt="Alberto Moran" >
    <div class="flex flex-col gap-10 w-full self-start mt-10">
      <h2 class="text-amber-500 font-black text-5xl" >About me.</h2>
      <ul class="text-white flex gap-6 place-content-center border-b-2 border-amber-500 ">
        <li id="profile" class="hover:text-amber-500 cursor-pointer text-sm ">PROFILE</li>
        <li id="skills" class="hover:text-amber-500 cursor-pointer text-sm">SKILLS</li>
        <li id="languages" class="hover:text-amber-500 cursor-pointer text-sm">LANGUAGES</li>
        <li id="experiences" class="hover:text-amber-500 cursor-pointer text-sm">EXPERIENCE</li>
      </ul>
      <Profile />
      <SkillShower />
      <Languajes />
      <Experiences />
    </div>
  </article>
</section>
  
<script is:inline >
  let module = "profile"
  
  const profile = document.getElementById("profile")
  const skills = document.getElementById("skills")
  const languages = document.getElementById("languages")
  const experiences = document.getElementById("experiences")

  const profileShower = document.getElementById("profileShower")
  const skillsShower = document.getElementById("skillsShower")
  const languagesShower = document.getElementById("languagesShower")
  const experiencesShower = document.getElementById("experiencesShower")

  function updateTabColors(){
    profile.style.color = module ==="profile"? "orange":"white"
    skills.style.color = module ==="skills"? "orange":"white"
    languages.style.color = module ==="languages"? "orange":"white"
    experiences.style.color = module ==="experiences"? "orange":"white"
  }

  function updateTabs () {
    profileShower.style.display = module ==="profile"? "grid":"none"
    skillsShower.style.display = module ==="skills"? "grid":"none"
    languagesShower.style.display = module ==="languages"? "grid":"none"
    experiencesShower.style.display = module ==="experiences"? "grid":"none"
  }

  function update(name) {
    module=name
    updateTabColors()
    updateTabs()
  }

  profile.addEventListener("click",() => {
    update("profile")
  })

  skills.addEventListener("click",() => {
    update("skills")
  })

  languages.addEventListener("click",() => {
    update("languages")
  })

  experiences.addEventListener("click",() => {
    update("experiences")
  })

  update("profile")
</script>