---

---
<a class="group cursor-pointer" href="https://info.albgott.com/" target="_blank">
  <div class="group-hover:blur-sm transform transition-all duration-1000 text-white flex place-content-center place-items-center overflow-hidden bg-slate-900 drop-shadow-md shadow-2xl rounded-3xl p-3 relative flex-col pb-8 text-center">
    <img class="rounded-t-3xl" src="/images/albgott.png"/>
    <h2 class=" my-6 lg:text-4xl font-bold">ALBGOTT (On development)</h2>
    <p class="text-xs lg:text-xl">Software as a service for business management</p>
    <p class="text-xs">Microservices architecture</p>
    <p class="text-xs">Developed with Java Spring Boot (backend) and React (frontend) as main technologies</p>
  </div>
  <h2 class="hidden md:group-hover:block top-1/2 left-[40%]  blur-none text-slate-900 font-bold  text-6xl absolute">DISCOVER IT</h2>
</a>