---
const { to } = Astro.props
---
<a href={to} class="group flex flex-col place-items-center hover:text-amber-500 transition ease-linear duration-200 cursor-pointer">
  <slot />
  <span class="block w-0 group-hover:w-full transition-all ease-linear duration-200 h-0.5 bg-amber-500"></span>
</a>