---
import Experience from "./Experience.astro";
---
<div id="experiencesShower" class="drop-shadow-sm grid gap-10 place-items-center">
  <Experience business="Vexcel Imagin" role="Backend developer" icon="/icon/vexcel.png" date="NOV 2021 - SEP 2022" >
      <li>Develop and maintainance of API Rest endpoints
        using Java</li>
      <li>Testing services using JUnit and Cucumber</li>
      <li>Document API endpoints using OpenAPI</li>
      <li>Handle customer tickets through Jira</li>
      <li>Following scrum methodology</li>
  </Experience>
</div>