---
import Experience from "./Experience.astro";
---
<div id="experiencesShower" class="drop-shadow-sm grid gap-10 place-items-center">
  <Experience business="Vexcel Imagin" role="Backend developer" icon="/icon/vexcel.png" date="NOV 2021 - APR 2022" >
      <li>Develop services with Java</li>
      <li>Develop test for an API</li>
      <li>Maintenance of an API</li>
      <li>Following scrum methodology</li>
  </Experience>
</div>