---
import ExperienceComponent from "./ExperienceComponent.astro";
---
<div id="experienceShower" class=" grid gap-10 place-items-center">
  <ExperienceComponent business="Vexcel Imagin" role="Backend developer" icon="/experiences/vexcel.png" date="NOV 2022 - SEP 2023" >
      <li>Develop and maintainance of API Rest endpoints
        using Java</li>
      <li>Testing services using JUnit and Cucumber</li>
      <li>Document API endpoints using OpenAPI</li>
      <li>Handle customer tickets through Jira</li>
      <li>Following scrum methodology</li>
  </ExperienceComponent>
</div>