---
import Social from "./Social.astro";


---
<footer class="flex flex-col place-content-center place-items-center bg-slate-900 text-white  pt-8 pb-8">
  <a class="mb-3" href="#">
    <img src="./images/logo.png" alt="logo" width="110">
  </a>
  <p class="text-amber-500 text-2xl font-bold">Alberto Morán</p>
  <p class="text-xl">Software Engineer</p>
  <p class="mt-7 mb-7">Need help? <a class="text-xl text-amber-500 font-bold hover:opacity-80" href="mailto:a.moran.cuenca@gmail.com">Contact me</a></p>

  <Social inverted/>
</footer>