<div id="hamburger" class="flex flex-col gap-2.5 hover:opacity-80 cursor-pointer md:hidden .in">
  <span class="w-8 h-0.5 bg-amber-500"/>
  <span class="w-8 h-0.5 bg-amber-500"/>
  <span class="w-8 h-0.5 bg-amber-500"/>
</div>