---
import FlagComponent from "./FlagComponent.astro";

---
<div id="languagesShower" class=" grid grid-cols-1 sm:grid-cols-2 gap-10 place-items-center">
  <FlagComponent icon="/flags/spanish-flag.jpg" name="Spanish" subName="native"/>
  <FlagComponent icon="/flags/english-flag.png" name="English" subName="intermediate  b2"/>
</div>