---
import Skill from "./Skill.astro";


---
<div id="languagesShower" class="drop-shadow-sm grid grid-cols-2 gap-10 place-items-center">
  <Skill icon="/icon/spanish.jpg" name="Spanish" subName="native"/>
  <Skill icon="/icon/english.png" name="English" subName="intermediate - b2"/>
</div>