---
import ContactButton from "./ContactButton.astro";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";

---
<header class="md:hidden flex flex-col place-items-center place-content-center bg-slate-900 fixed w-screen py-4 px-2 shadow-[0px_0px_3px_rgba(0,0,0)] z-20 ">
  <div class="flex w-full place-content-between place-items-center">
    <a id="logo"class="self-start" href="#" ><img src="/images/logo.png" alt="logo" width="100" height="40"></a>
    <Hamburger />
  </div>
  <div id="mobileHeader" class="hidden h-screen flex-col place-items-center gap-20 text-white pt-16">
    <Navigation/>
    <div class="flex flex-col gap-4">
      <Social inverted/>
      <ContactButton/>
    </div>
  </div>
</header>

<script>
  const hamburger = document.getElementById("hamburger")
  const header = document.getElementById("mobileHeader")
  const logo = document.getElementById("logo")

  hamburger.addEventListener("click", () => {
    header.style.display = header.style.display ==="flex"?"none":"flex";
  })

  header.addEventListener("click", () => {
    header.style.display = "none";
  })

  logo.addEventListener("click", () => {
    header.style.display = "none";
  })

</script>
