---
import Anchor from "./Anchor.astro";
---

<nav>
  <ul class="text-5xl gap-5 flex flex-col md:flex-row md:gap-9 font-black  md:text-lg">
    <li><Anchor to="#about" >About me</Anchor></li>
    <li><Anchor to="#projects" >Projects</Anchor></li>
  </ul>
</nav>