---
import Social from "./Social.astro";


---
<section id="presentation" class="text-2xl text-center bg-amber-500 text-slate-900 flex flex-col place-content-center place-items-center gap-4 ">
  <p>Hi! I am,</p>
  <h1 class="text-8xl text-white font-black">Alberto Morán</h1>
  <p class="text-4xl font-black">Software Engineer</p>
  <p class="mb-10">Looking forward to do huge things</p>
  <Social />
</section>