---
---
<div id="profileShower" class="text-white text-xl max-w-6xl gap-6" >
  <p>I'm Alberto Morán, a full Stack Developer, focused on backend with Java and Spring Boot, complemented by frontend work using Angular.</p>
  <p>I’ve worked on personal microservices and SaaS projects, always striving to create clean, scalable, and extensible software.<br><br>I have practical experience using AWS for managing databases, S3, and Redis, and I'm passionate about DevOps practices. I enjoy working with CI/CD pipelines (primarily through Jenkins) and containerization with Docker to streamline deployment and improve efficiency. I'm also highly interested in server administration and infrastructure, always keen to learn more about managing systems efficiently.<br><br>I'm also committed to maintaining high code quality and recognize the crucial role of testing in software development. I’m diving into advanced concepts like Domain-Driven Design (DDD), CQRS, event-driven architecture, and hexagonal and microservices architectures, all with the goal of building better, future-proof systems.</p>
</div>