---
import ContactButton from "./ContactButton.astro";
import ResumeButton from "./ResumeButton.astro";

const { visible } = Astro.props
---
<div id="profileShower" class="text-white text-xl max-w-6xl gap-6">
  <p>Software engineer specialized on backend.</p>
  <p>I'm interested on building clean, maintainable, scalable, and extensible software. That's why I started learning about DDD, CQRS, event-driven design, hexagonal and microservices architecture.</p>
  <p>I'm currently developing a personal long-term microservices project using java and react for mastering my skills, but if you have a huge plan don't hestitate to contact me. I'm in. </p>
  <div class="flex place-content-center md:place-content-end gap-6 mt-3">
    <ResumeButton />  
    <ContactButton />
  </div>
</div>