---
import Albgott from "./Albgott.astro";
import TopDecoration from "./TopDecoration.astro";


---
<section id="projects" class="flex flex-col place-items-center bg-amber-500 relative w-screen">
  <TopDecoration to="#projects" arrowColor="fill-slate-900" color="bg-amber-500" />
  <div class="max-w-6xl w-full px-2 pb-20 pl-4">
    <h2 class="text-slate-900 font-black text-6xl drop-shadow py-8 pt-24" >Projects.</h2>
    <div class="p-4">
      <Albgott />
    </div>
  </div>
</section>
