---
import SkillComponent from "./SkillComponent.astro";



---
<div id="skillsShower" class="flex flex-wrap gap-10 justify-center">
  <SkillComponent icon="/skill/springboot.png" name="Spring Boot" />
  <SkillComponent icon="/skill/angular.png" name="Angular" />
  <SkillComponent icon="/skill/html.png" name="HTML" />
  <SkillComponent icon="/skill/js.png" name="Javascript" />
  <SkillComponent icon="/skill/java.png" name="Java" />
  <SkillComponent icon="/skill/microservices.png" name="Microservices" />
  <SkillComponent icon="/skill/css.png" name="Css" />
  <SkillComponent icon="/skill/mysql.png" name="MySql" />
  <SkillComponent icon="/skill/git.png" name="Git" />
  <SkillComponent icon="/skill/docker.png" name="Docker" />
  <SkillComponent icon="/skill/rabbitmq.png" name="RabbitMQ" />
  <SkillComponent icon="/skill/jenkins.png" name="Jenkins" />
</div>