---
import SkillComponent from "./SkillComponent.astro";



---
<div id="skillsShower" class="flex flex-wrap gap-10 justify-center">
  <SkillComponent icon="https://cdn.simpleicons.org/spring/6DB33F" name="Spring Boot" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" name="Angular" />
  <SkillComponent icon="https://cdn.simpleicons.org/html5/E34F26" name="HTML5" />
  <SkillComponent icon="https://cdn.simpleicons.org/astro/FF5D016" name="Astro" />
  <SkillComponent icon="https://skillicons.dev/icons?i=js" name="Javascript" />
  <SkillComponent icon="https://skillicons.dev/icons?i=ts" name="Typescript" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" name="Java" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" name="Postgresql" />
  <SkillComponent icon="/skill/microservices.png" name="Microservices" />
  <SkillComponent icon="https://skillicons.dev/icons?i=aws" name="AWS" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg" name="Css" />
  <SkillComponent icon="https://cdn.simpleicons.org/tailwindcss/06B6D4" name="TailwindCss" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" name="Sass" />
  <SkillComponent icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" name="MySql" />
  <SkillComponent icon="https://cdn.simpleicons.org/git/F05032" name="Git" />
  <SkillComponent icon="https://cdn.simpleicons.org/nginx/009639" name="Nginx" />
  <SkillComponent icon="https://cdn.simpleicons.org/docker/2496ED" name="Docker" />
  <SkillComponent icon="https://cdn.simpleicons.org/rabbitmq/FF6600" name="RabbitMQ" />
  <SkillComponent icon="https://skillicons.dev/icons?i=jenkins" name="Jenkins" />
  <SkillComponent icon="https://skillicons.dev/icons?i=react" name="React" />
  <SkillComponent icon="https://cdn.simpleicons.org/postman/FF6C37" name="Postman" />
</div>