---
import Skill from "./Skill.astro";

---
<div id="skillsShower" class="drop-shadow-sm grid grid-cols-2 gap-10 w-full ml-2 md:ml-16">
  <Skill icon="/icon/html.png" name="HTML" />
  <Skill icon="/icon/js.png" name="Javascript" />
  <Skill icon="/icon/springboot.png" name="Spring Boot" />
  <Skill icon="/icon/java.png" name="Java" />
  <Skill icon="/icon/microservices.png" name="Microservices" />
  <Skill icon="/icon/css.png" name="Css" />
  <Skill icon="/icon/mysql.png" name="MySql" />
  <Skill icon="/icon/git.png" name="Git" />
  <Skill icon="/icon/docker.png" name="Docker" />
  <Skill icon="/icon/rabbitmq.png" name="RabbitMQ" />
</div>