---
const { color, arrowColor, to } = Astro.props
---
<span class={`${color} absolute rotate-45 left-[calc(50vw-150px)] object-right-bottom w-[300px] h-[300px] -top-[100px] rounded-[50px]`}>
  <a href={to}>
    <svg class={`group absolute ${arrowColor} -rotate-45 left-12 top-8 animate-pulse w-1/4 h-2/6  cursor-pointer`}>
      <polygon class="opacity-60 
      group-hover:transition group-hover:ease-out group-hover:duration-200 group-hover:translate-y-[18px]" 
      points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
      <polygon class="opacity-70"
      points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
      <polygon class=" 
      group-hover:transition group-hover:ease-out group-hover:duration-200 group-hover:-translate-y-[18px]"
      points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
    </svg>
  </a>
</span>
